<h3> Cari Aplikasi </h3>

<div class="controls controls-row">
    <input type="text" class="input-small" placeholder="Nama Aplikasi" ng-model="search.aplikasi" />    
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nama Aplikasi</th>
            <th>HTTP Repo</th>
            <th>Tanggal Dibuat</th>
        </tr>        
    </thead>
    <tbody>
        <tr ng-repeat="project in projects | filter: search">
            <td>{{project.id}}</td>
            <td>
                <a ng-href="#/projects/{{project.name}}">
                    {{project | projectName}}
                </a>    
            </td>
            <td>{{project.http_url_to_repo}}</td>
            <td>{{project.created_at}}</td>
        </tr>
    </tbody>
</table>